@using Entities.ViewModels
@using Entities.ViewModels.Comment
@using Utilities
@using Entities.ViewModels.Mongo
@model List<CommentMongoViewModel>
@{
    int total = Convert.ToInt32( ViewBag.total);
    int PageSize = Convert.ToInt32(ViewBag.PageSize);
    int CurrentPage = Convert.ToInt32(ViewBag.CurrentPage);
    int TotalPage = Convert.ToInt32(ViewBag.TotalPage);
    Layout = null;
    int STT = 0;
    if (CurrentPage == 1)
    {
        STT = 1;
    }
    else
    {
        STT = ((CurrentPage - 1) * PageSize) + 1;
    }
}
<style>
    .OptionRow {
        vertical-align: middle !important;
    }

    .thead-fields {
        text-align: center;
    }

    .trow-fields {
        text-align: center;
    }

    table, th, td {
        border: 1px solid #CCCCCC;
    }
</style>
@if (Model == null)
{
    <div class="search-null center mb40" style="height:300px;">
        <div class="mb24">
            <img src="/images/graphics/icon-search.png" alt="">
        </div>
        <h2 class="title txt_24">Không tìm thấy kết quả</h2>
        <div class="gray">Chúng tôi không tìm thấy thông tin mà bạn cần, vui lòng thử lại</div>
    </div>
}
else
{
    <div class="table-responsive table-default">
        <table id="table-comment" class="table table-nowrap mt-3">
            <thead id="table-head">
                <tr class="bg-main2" style="background-color:#F3F5F8">
                    <th class="thead-fields">STT</th>
                    <th class="thead-fields">KHÁCH HÀNG</th>
                    <th class="thead-fields">Số điện thoại </th>
                    <th class="thead-fields">Phân loại </th>
                    <th class="thead-fields">Ghi chú </th>
                    <th class="thead-fields">NGÀY TẠO</th>
                </tr>
            </thead>
            <tbody id="table-comment-body">
                @if (Model != null && Model.Count > 0)
                {
                    
                    foreach (var i in Model)
                    {
                        <tr>
                            <td>@STT</td>
                            <td>@i.Name</td>
                            <td>@i.phone</td>
                            <td>@i.Type</td>

                            <td>
                                @i.Note
                            </td>
                            <td>
                                @i.CreateDate.ToString("dd/MM/yyyy")
                            </td>

                        </tr>
                        STT += 1;
                    }
                }
                
            </tbody>
        </table>
    </div>
    @await Component.InvokeAsync("PagingNew", new
        {

            pageModel = new Paging()
       {
           TotalRecord = total,
           TotalPage = TotalPage,
           CurrentPage = CurrentPage,
           PageSize = PageSize,
           RecordName = "Tin",
            PageAction = "_comment.OnPanging({0})",
        PageSelectPageSize = "_comment.onSelectPageSize()"
          
       }
        })
}

